<div class="user-name">
  <%= post.user.firstname %>
</div>
  <% if post.comments %>
    <% post.comments.each do |comment| %>
      <div class="comment">
        <div class="comment-content">
          <%= comment.content %>
        </div>
        <% if comment.user == current_user %>
          <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt fa-lg"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
