


    <% post.comments.each do |comment| %>
    <div class="row">
      <div class="col-md-6">
        <%= comment.user.firstname %> <%= comment.user.lastname %>
        <%= comment.created_at.strftime('%R %d/%m/%Y') %>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <%= comment.content %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
