<div class="container">
  <div class="row">
  <!-- <div class="col-md-6">
    <%= image_tag 'logo2_large.png' %>
  </div> -->

  <div class="col-md-6">
    <h1>Welcome to Fishnet.  Sign up to the Reef!</h1>
    <%= render partial: 'devise/registrations/new' %>
  </div>
</div>
</div>
