option_settings:
container_commands:
  00_bundle:
    command: bundle exec install
    leader_only: true
  01_drop_db:
    command: bundle exec rake db:drop
    leader_only: true
  02_create_db:
    command: bundle exec rake db:create
    leader_only: true
  03_migrate_db:
    command: bundle exec rake db:migrate
    leader_only: true
