<h1>Posts feed</h1>

<%= render('new.html.erb') %>

<article class="post">
  <header>
    <%= content_tag(:div, "", :class => "post-user") %>
    <%= content_tag(:time, "", :class => "post-timestamp") %>
  </header>
  <%= content_tag(:main, "", :class => "post-body" ) %>
</article>
