<h1>Feed</h1>

<%= render('new.html.erb') %>

<h1>Latest posts</h1>

<% @posts.each do |post| %>
<article class="post">
  <header>
    <%= content_tag(:div, post.user, :class => "post-user") %>
    <%= content_tag(:time, post.updated_at, :class => "post-timestamp") %>
  </header>
  <%= content_tag(:main, post.body, :class => "post-body" ) %>
</article>
<% end %>
